* {
  margin: 0;

  font-size: 30px;
  color: black;
  transition: 0.6s;
  box-sizing: border-box;
}


.modal {
  height: 100vh;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(34, 34, 38, 0.85);
}
h1 {
  color: #75e86d;
}

.buy{
  background: green;
  cursor: pointer;
}



table,
thead,
tr,
td,
th {
  padding: 10px;
  margin: 0;
  border: 4px #39ea2c solid;
  border-collapse: collapse;

}

th,
td {
  text-align: center;
  padding: 10px;
}